:root {
      --color-light: #f4f4f4;
      --color-grey: #b8b8b8;
      --color-gradient-purple: #99a9ff;
      --color-gradient-green: #5ce4cf;
      --color-background: #1d1d1d;

      --font-base: "GinoraSans", sans-serif;
      --font-second: "Gilroy-Regular", sans-serif;
      --font-third: "Gilroy-Light", sans-serif;
      --font-fourth: "Gilroy-Medium", sans-serif;

      --container-width: 1160px;
      --container-padding-x: 20px;

      --transition-duration: 0.2s;
}
